@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.bgcolor{
    background-color: #F7CAC9;
}

.tsize{
    font-size: 15px;
}

.ptop{
    padding-top: 110px;
}

.button1 {
    background-color: white;
    color: black;
    border: 1px solid #000;
    width: 180px;
    padding: 12px;
    border-radius: 50px;
  }

  .button1:hover,
  .button1:focus {
    color: #000;
    background-color: rgb(251, 251, 251);
    box-shadow: 1px 5px 7px 5px rgba(0,0,0,.1);
    text-decoration: none;
    cursor: pointer;
  }

.navbar-float{
    display:flex; 
    position:absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 1px 5px 10px 5px rgba(0,0,0,.1);
    background-color: #92A8D1;
    z-index: 100;
}

.nav-item{
    display: flex;
    background-color: #92A8D1;
    padding: 20px;
}

.nav-text{
    text-decoration: none;
    margin: 18px;
    color: #000;
}

.nav-text-active{
    text-decoration: none;
    color: #000;
    padding: 8px 20px;
    background-color: #F7CAC9;
    box-shadow: 1px 5px 10px 5px rgba(0,0,0, 0.1);
    border-radius: 20px;
    border: 2px solid #000;
}

.card-container{
    justify-content: center;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 8px;
}

.card1{
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    margin: 20px 60px;
    padding: 12px;
    border-radius: 20px;
    border: 2px solid #000;
}

.img-silabel{
    width: 500px;
    height: auto;
}

.pv{
    padding: 12px 36px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
  }
  
#controller{
    width:100%;
}

.menu {
    width: 50%;
    float: left;
    padding: 15px;
    padding-left: 15px;
    margin-top: 90px;    
}
  
.main {
    width: 50%;
    float: left;
}

.menu2 {
    width: 50%;
    float: left;
}

.img {
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
  }

.bold{
    font-weight: bold;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 100px 350px 0px 350px; 
    /* left: 0;
    top: 0; */
    width: 100%; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    width: 80%; /* Ukuran awal modal */
    max-width: 800px; /* Lebar maksimum modal */
    display: flex;
    flex-direction: column;
    border: 1px solid #888;
  }

  .modal-content-img {
    width: 60%;
    height: auto;
    margin: auto;
  }

  .modal-header {
    background-color: #92A8D1;
    color: black;
  }

  .modal-header-img{
    margin: auto;
  }

  .close {
    color: #646464;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .shadow{
    box-shadow: 1px 5px 10px 5px rgba(0,0,0,.1);
  }

@media screen and (max-width: 720px) {
    *{
        font-size: 13px;
    }
    .img-silabel{
        width: 300px;
        height: auto;
    }
    .modal {
        padding: 150px 10px 0px 10px;
    }
    .modal-header-img{
        width: 30%;
    }
    .close {
        font-size: 20px;
    }
    .card1{
        width: 100px;
        height: 100px;
    }
    .pv{
        padding: 12px 30px;
    }
}

@media screen and (min-width: 720px) and (max-width: 900px) {
    .modal {
        padding: 100px 80px 0px 80px;
    }
    .modal-header-img{
        width: 30%;
    }
    .img-silabel{
        width: 300px;
        height: auto;
    }
}

@media screen and (min-width: 900px) and (max-width: 1120px) {
    .modal {
        padding: 100px 200px 0px 200px;
    }
    .modal-header-img{
        width: 30%;
    }
    .img-silabel{
        width: 300px;
        height: auto;
    }
}

@media screen and (max-width: 1080px){
    .main{
        width: 100%;
    }
    .menu{
        width: 100%;
    }
    .predict{
        margin-top: -100px;
    }
    .menu2{
        margin-top: -30px;
    }
}