<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/canvas.js') }}" defer></script>
    <title>Penulisan Silabel</title>
  </head>
<body class="bgcolor">

  <!-- navbar -->
  <nav class="navbar-float">
    <section class="nav-item mx-auto tsize">
      <a href="/" class="nav-text-active mx-2">TUTORIAL</a>
      <div class="dropdown mx-2">
        <button class="nav-text-active dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          BELAJAR
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="huruf-konsonan">Huruf Konsonan</a></li>
          <li><a class="dropdown-item" href="huruf-vokal">Huruf Vokal</a></li>
          <li><a class="dropdown-item" href="penulisan-silabel">Penulisan Silabel</a></li>
        </ul>
      </div>
      <a href="#" class="nav-text-active mx-2">LATIHAN</a>
    </section>
  </nav>

  <!-- konten -->
  <div class="main">
    <div class="row center">
      <canvas id="draw" height="500" width="200">
        Your browser does not support the canvas element.
      </canvas>
    </div>
    <div class="row mx-5">
      <div class="col-md-4 col-sm-6 col-6 mt-3">
        <button id="refreshButton" class="button1 tsize">Refresh Canvas</button>
      </div>
      <div class="col-md-4 col-sm-6 col-6 mt-3">
        <button id="processAndSaveButton" class="button1 tsize">Proses Gambar</button>
      </div>
      <div class="col-md-4 col-sm-12 col-12 mt-3 center" id="tool">
        <input type="radio" class="form-check-input mx-1" id="brush" name="option" value="brush" checked="checked"> &nbsp;
        <label class="form-check-label me-3" for="brush" >Kuas</label>
        <input type="radio" class="form-check-input" id="eraser" name="option" value="eraser"> &nbsp;
        <label class="form-check-label" for="eraser">Penghapus</label>
    </div>
    </div>
  </div>

  <div class="menu">
    <div class="row mx-4 mb-4 line-red">
      <div class="form-control">
        <h5 class="predict">Predicted Class &nbsp; : &nbsp;&nbsp;<span id="predictedClass"></span></h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>
          <p class="center tsize">Resized Image</p>
          <img class="img box" id="resizedImage" src=""> 
        </div>
      </div>
      <div class="col card-container line-red p-4">
        <p class="bold center p-2">Cara Penggunaan</p>
        <p>1. Arahkan kursor pada canvas hitam. Tulis silabel atau suku kata yang terdiri dari 2 huruf</p>
        <p>2. (1 Konsonan + 1 Vokal)</p>
        <p>3. Tuliskan silabel dengan jelas dan besar, <b>ditengah-tengah canvas</b></p>
      </div>
    </div>
  </div>
</body>
</html>